<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- Assembly bindings here -->
        </assemblyBinding>
    </runtime>
    <appSettings>
        <add key="url" value="https://miacademy.co/#/" />
        <add key="Browser" value="chrome" />
    </appSettings>
</configuration>
