<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoBogus" version="2.13.1" targetFramework="net48" />
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="Bogus" version="31.0.3" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="4.14.1" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects.Core.Linq" version="1.0.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="ExtentReports" version="5.0.4" targetFramework="net48" />
  <package id="Faker.Net" version="2.0.163" targetFramework="net48" />
  <package id="Gherkin" version="28.0.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Razor" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.9.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.9.0" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.10.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.6.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="7.6.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.6.2" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.10.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.2.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.2.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.2.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.2.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.2.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.10.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.4.3" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.4.3" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="NUnit.Console" version="3.12.0" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.12.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net48" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net48" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net48" />
  <package id="NUnit.Runners" version="3.12.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.10.0" targetFramework="net48" />
  <package id="NUnit" version="4.1.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="RazorEngine.NetCore.nixFix" version="1.0.1" targetFramework="net48" />
  <package id="Selenium.Support" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="126.0.6478.6300" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.74" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="SpecFlow.NUnit" version="3.9.74" targetFramework="net48" />
  <package id="SpecFlow.Plus.LivingDocPlugin" version="3.9.57" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.74" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.6" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>